.Products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem 2rem;
}

.Product {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}
